In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
DF_RAW = pd.read_csv('/workspace/nabang1010/STEAM/LeGiaBach_STEAM/src/yolov5/submission_yolov5_15.csv')
DF_RAW

,ID,class_id,label,x_min,x_max,ymin,ymax,score
0,002a34c58c5b758217ed1f584ccbcfe9,14,No finding 0.99,0,2345,0,2584,0.992943
1,004f33259ee4aef671c2b95d54e4be68,14,No finding 0.99,0,2517,0,3027,0.992729
2,008bdde2af2462e86fd373a445d0f4cd,0,Aortic enlargement 0.84,1440,1736,824,1195,0.843482
3,008bdde2af2462e86fd373a445d0f4cd,3,Cardiomegaly 0.93,1102,1933,1412,1787,0.934497
4,008bdde2af2462e86fd373a445d0f4cd,15,Finding 0.99,0,2304,0,2880,0.989656
...,...,...,...,...,...,...,...,...
4702,ffc441e0c8b7153844047483a577e7c3,14,No finding 0.99,0,1944,0,2328,0.992756
4703,ffccf1709d0081d122a1d1f9edbefdf1,11,Pleural thickening 0.49,2461,2611,2559,2801,0.494520
4704,ffccf1709d0081d122a1d1f9edbefdf1,13,Pulmonary fibrosis 0.67,1564,2265,660,1626,0.674721
4705,ffccf1709d0081d122a1d1f9edbefdf1,13,Pulmonary fibrosis 0.74,578,1045,726,1372,0.744904
4706,ffccf1709d0081d122a1d1f9edbefdf1,15,Finding 0.99,0,2812,0,3183,0.991991

In [13]:
list_image = DF_RAW['ID'].unique()
len(list_image)

3000

In [17]:
df_submission = pd.DataFrame(columns=['image_id', 'PredictionString'])
for img_file in list_image:
    df_tmp = DF_RAW[DF_RAW['ID'] == img_file]
    predict_string = ''
    for j in range(len(df_tmp)):
        if df_tmp.iloc[j, :]["class_id"] == 14 and len(df_tmp) == 1:
            predict_string = predict_string + '14 1.0 0 0 1 1'
            break
        elif df_tmp.iloc[j, :]["class_id"] == 15 and len(df_tmp) == 1:
            predict_string = predict_string + '14 1.0 0 0 1 1'
            break
        else:
            if df_tmp.iloc[j, :]["class_id"] != 14 and df_tmp.iloc[j, :]["class_id"] != 15:
                predict_string += str(df_tmp.iloc[j, :]["class_id"]) + ' ' + str(df_tmp.iloc[j, :]["score"]) + ' ' + str(df_tmp.iloc[j, :]["x_min"]) + ' ' + str(df_tmp.iloc[j, :]["ymin"]) + ' ' + str(df_tmp.iloc[j, :]["x_max"]) + ' ' + str(df_tmp.iloc[j, :]["ymax"]) + ' '
    df_submission = df_submission.append({'image_id': img_file, 'PredictionString': predict_string}, ignore_index=True)

In [18]:
df_submission

,image_id,PredictionString
0,002a34c58c5b758217ed1f584ccbcfe9,14 1.0 0 0 1 1
1,004f33259ee4aef671c2b95d54e4be68,14 1.0 0 0 1 1
2,008bdde2af2462e86fd373a445d0f4cd,0 0.8434820771217346 1440 824 1736 1195 3 0.93...
3,009bc039326338823ca3aa84381f17f1,14 1.0 0 0 1 1
4,00a2145de1886cb9eb88869c85d74080,0 0.8868180513381958 1123 708 1355 938 3 0.914...
...,...,...
2995,ff91fb82429a27521bbec8569b041f02,8 0.5706008672714233 857 1347 1073 1553 13 0.7...
2996,ff9fcc4087ed5e941209aa3fa948e364,3 0.4614761471748352 557 987 1815 1994 3 0.468...
2997,ffaa288c8abca300974f043b57d81521,10 0.7356885075569153 1560 1533 2318 2179
2998,ffc441e0c8b7153844047483a577e7c3,14 1.0 0 0 1 1
2999,ffccf1709d0081d122a1d1f9edbefdf1,11 0.4945197105407715 2461 2559 2611 2801 13 0...

In [16]:
df_submission.to_csv('/workspace/nabang1010/STEAM/LeGiaBach_STEAM/src/yolov5/submission_yolov5.csv', index=False)