In [5]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [2]:
DF_RAW = pd.read_csv('/workspace/nabang1010/STEAM/LeGiaBach_STEAM/DATA/dataset/train_w_h.csv')
DF_RAW.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332.0,2580.0
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954.0,3159.0
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0,2080.0,2336.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0,2304.0,2880.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN,2540.0,3072.0

In [4]:
image_list = DF_RAW['image_id'].unique()
len(image_list)

15000

In [6]:
pbar = tqdm(range(len(image_list)))
for i in pbar:
    df_temp = DF_RAW[DF_RAW['image_id'] == image_list[i]]
    # print(df_temp)
    for j in range(len(df_temp)):
        
    break

  0%|          | 0/15000 [00:00<?, ?it/s]

                               image_id  class_name  class_id rad_id  x_min  \
0      50a418190bc3fb1ef1633bf9678929b3  No finding        14    R11    NaN
45863  50a418190bc3fb1ef1633bf9678929b3  No finding        14    R15    NaN
57424  50a418190bc3fb1ef1633bf9678929b3  No finding        14    R16    NaN

       y_min  x_max  y_max   width  height
0        NaN    NaN    NaN  2332.0  2580.0
45863    NaN    NaN    NaN  2332.0  2580.0
57424    NaN    NaN    NaN  2332.0  2580.0